<!doctype html>
  <head>
    <title>Food Sharing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK5hb4W-XAXLxlGbju6XG0uTu9EhD9kIo&callback=initMap"></script>

    <script src="js/map.js"></script>
    <script src="js/page.js"></script>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/map.css">
    <link rel="stylesheet" type="text/css" href="css/card.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  </head>

  <body ng-app="FoodSharer">

    <!-- <img src="..\\img\\outdoors-background.jpg" class=background-image> -->

    <div class="header">
      <!-- <img src="..\\img\\banner.jpg" class="banner"> -->
      <h1 class="header-text">Save A Plate</h1>
    </div>

    <div class="main-wrapper" ng-controller="MainController">
      <div class="nav-wrapper">
        <div class = "input-wrapper">
          <input type="search" id="searchbar" placeholder="Search for ingredients" ng-model="searchText.ingredients">
          <button type="button" id="post-button">Post</button>
          <!--Signup Modal  -->
          <div id="signup-modal" class="modal">
            <div class="modal-content">
              <form id="modal-submit-form">
                Image: <input type="text" id="image" class="modal-input"><br>
                Title: <input type="text" id="title" class="modal-input"><br>
                Building: <input type="text" id="building" class="modal-input"><br>
                Room: <input type="text" id="room" class="modal-input"><br>
                Phone: <input type="text" id="phone" class="modal-input"><br>
                Description: <input type="text" id="description" class="modal-input"><br>
                <!-- Ingredients: <input type="text" class="modal-input"><br> -->
              </form>
              <button class="modal-submit" ng-click="addItem()">Submit</button>
            </div>
          </div>

        </div>
        <div id="navigation">
            <div ng-repeat="post in posts | filter:searchText:string">
              <food-info info="post" class="card"></food-info>
            </div>
        </div>
      </div>

      <div class="map-wrapper">
        <div id="map"></div>
      </div>
    </div>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Directives -->
    <script src="js/directives/foodInfo.js"></script>

  </body>

</html>
